.flight-sidebar {
  float: left;
  width: 265px; }
  .flight-sidebar .partner {
    border: 1px solid #ddd;
    font-size: 15px;
    margin-bottom: 40px; }
    .flight-sidebar .partner h3 {
      font-size: 20px;
      padding: 15px;
      color: #898989;
      font-weight: 700;
      border-bottom: 1px solid #ddd; }
    .flight-sidebar .partner li {
      padding: 15px; }
      .flight-sidebar .partner li .f0 {
        margin-right: 15px; }
    .flight-sidebar .partner .lihat {
      padding: 15px;
      font-weight: 700; }
  .flight-sidebar .newsbox {
    border: 1px solid #ddd;
    font-size: 14px;
    line-height: 18px; }
    .flight-sidebar .newsbox h3 {
      font-size: 20px;
      padding: 15px;
      color: #898989;
      font-weight: 700; }
    .flight-sidebar .newsbox li {
      border-top: 1px solid #ddd;
      padding: 15px; }
      .flight-sidebar .newsbox li:hover {
        background-color: #fdfde1; }
