footer{
	display: $b;
	background-color: $grey;
	border-top:1px solid $border;
	padding: 30px 0;

	.pembayaran{
		display: $b;
		width: $wrap;
		height: 29px;
		background: $sprites 0 -190px no-repeat;
		margin-bottom: $margin;
		span{
			display: none;
		}
	}
	.verified{
		display: block;
		height: 41px;
		width: 364px;
		background: $sprites 0 -149px no-repeat;
		float: right;
		margin-left: 40px;
		span{
			display: none;
		}
	}
	h2{
		font-weight: 700;
		font-size: 16px;
		color: #15629b;
		text-shadow: 1px 1px 1px #fff;
		background-color: #aedaf7;
		padding: 0 30px;
		line-height: 35px;
		float: left;
		margin-top:-3px;
		margin-right: $margin;
		@include border-radius(3px);
	}
	h4{
		font-size: 12px;
		margin-bottom: $margin / 4;
		line-height: 18px;
	}
	h3{
		font-weight: 700;
			@extend h4;

		span{
		font-weight: 400;
		}
	}
	p{
		margin-bottom: $margin / 2;
		font-size: 11px; 
		line-height: 16px;
	}
	hr{
		border: 0px;
		height: 1px;
		background-color: $border2;
		margin: $margin 0;
	}
	.col{
		line-height: 20px;
		@include column-count(5);	
		@include column-gap(30px);	
		margin-top: $margin;
	}
	.col2{
		float: left;
		width: 180px;
		margin-right: 20px;

		ul{
			line-height: 20px;
		}
	}
	.col0{
		margin-right: 0px;
		width: 170px;
	}
	.fb{
		display: inline-block;
		margin: 0 5px 10px 0;
		width: 32px;
		height: 32px;
		background: $sprites -364px -158px no-repeat;
		span{
			display: none;
		}
	}
	.tw{
		@extend .fb;
		background: $sprites -396px -158px no-repeat;
	}
	.gp{
		@extend .fb;
		background: $sprites -428px -158px no-repeat;
	}
	.copyright{
		text-align: center;
	}
}