.sidebar{
	display: $b;
	float: left;
	width: 360px;
	.point{
		display: $b;
		width: 362px;
		height: 100px;
		background: $sprites 0 -49px;
		margin-bottom: 40px;

		h3{
			padding: 20px 0 0 150px;
			color: #15629b;
			font-size: 20px;
			font-weight: 700;
			margin-bottom: 0;
		}
		p{
			font-size: 14px;
			line-height: 18px;
			padding: 0 0 0 150px;
		}
	}
	h3{
		color: #898989;
		font-size: 24px;
		font-weight: 700;
		margin-bottom: 20px;
	}
	.colpop {
		width: 365px;
		margin-bottom: 40px;
		li{
			float: left;
			display: inline-block;
			margin: 0 10px 10px 0;
			img{
				z-index:0;
				position: relative;
			}
			p{
				display: $b;
				background: #000;
				line-height: 20px;
				color: #fff;
				margin: -23px 0 0 0;
				z-index: 10;
				position: relative;
				font-size: 10px;
				clear: both;
				opacity: 0.8;
				
				span{
					float: right;
					margin-right: 5px;
				}
				
				strong{
					font-size: 11px;
					font-weight: 700;
					margin-left: 5px;
				}
			}
		}
		li:hover{
			box-shadow: 0px 0px 5px orange;
		}
		li:hover p{
			background: $blue;
			cursor: pointer;
		}
		li:nth-child(2n+2){
			margin-right:0;
		}
	}
	.tipromo{
		margin-bottom: 40px;
		li{
			border: 1px solid $border;
			margin-bottom: -1px;
			padding: 10px 15px;
		}
		li:hover{
			background-color: #fdfde1;
		}
		h4{
			font-size: 18px;
			padding-bottom:5px;
			a{
				color: #222;
			}
		}
		.plane{
			display: inline-block;
			background: $sprites -634px -173px no-repeat;
			width: 17px;
			height: 15px;
			margin: 0 8px;
		}
		.citilink{
			float: right;
			display: $b;
			background: $sprites -236px 0 no-repeat;
			width: 57px;
			height: 13px;
			margin-top: -3px;
		}
		.airasia{
			@extend .citilink;
			background: $sprites -236px -17px no-repeat;
			width: 43px;
			height: 19px;
		}
		.mandala{
			@extend .citilink;
			background: $sprites -282px -13px no-repeat;
			width: 52px;
			height: 24px;
			margin-top: -5px;
		}
		p{
			color: #898989;
			font-size: 14px;
			line-height: 22px;
			small{
				font-size: 12px;
				color: #222;
			}
			span{
				float: right;
			}
			strong{
				color: $orange;
				font-size: 22px;
				font-weight: 700;
			}
		}
	}
	.mengapa{
		h4{
			font-size: 14px;
			font-weight: 700;
			margin: 5px 0;
			.raquo{
				display: inline-block;
				width: 13px;
				height: 9px;
				background: $sprites -992px -210px;
			}
		}
		p{
			line-height: 18px;
		}
		li{
			margin: 0 0 20px 45px;
		}
		.why{
			display: $b;
			position: absolute;
			margin: 5px 0 0 -45px;
		}
		.why1{
			width: 32px;
			height: 35px;
			background: $sprites -594px -154px;
		}
		.why2{
			width: 33px;
			height: 21px;
			background: $sprites -561px -168px;
		}
		.why3{
			width: 33px;
			height: 25px;
			background: $sprites -528px -164px;
		}
		.why4{
			width: 33px;
			height: 43px;
			background: $sprites -495px -146px;
		}
		.why5{
			width: 35px;
			height: 52px;
			background: $sprites -460px -137px;
		}
	}
}