#header {
 background: url(http://www.tiket.com/images/tiket2/bg_header2.jpg);
 padding: 0 0 14px;
}
.pinned {
 top: 0;
 position: relative;
}
.pinned .inner {
 border-bottom: none;
 padding-bottom: 0;
}
#header .blog-title {
 padding: 0;
}
#header .blog-title a {
 background: url(http://www.tiket.com/images/tiket2/tiket_blog.png);
 width: 239px;
 height: 50px;
}
#search {
 padding: 14px 0 0 35px;
}
.menu {
 padding-top: 22px;
}
#page {
  padding-top: 25px;
}

@font-face { font-family: 'VAGbold'; src: url("http://www.tiket.com/css/fonts/vagrounded-bold-webfont.eot"); src: url("http://www.tiket.com/css/fonts/vagrounded-bold-webfont.eot?#iefix") format("embedded-opentype"), url("http://www.tiket.com/css/fonts/vagrounded-bold-webfont.woff") format("woff"), url("http://www.tiket.com/css/fonts/vagrounded-bold-webfont.ttf") format("truetype"), url("http://www.tiket.com/css/fonts/vagrounded-bold-webfont.svg#VAGRoundedBoldRegular") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'VAGlight'; src: url("http://www.tiket.com/css/fonts/vagrounded-light-webfont.eot"); src: url("http://www.tiket.com/css/fonts/vagrounded-light-webfont.eot?#iefix") format("embedded-opentype"), url("http://www.tiket.com/css/fonts/vagrounded-light-webfont.woff") format("woff"), url("http://www.tiket.com/css/fonts/vagrounded-light-webfont.ttf") format("truetype"), url("http://www.tiket.com/css/fonts/vagrounded-light-webfont.svg#VAGRoundedBoldRegular") format("svg"); font-weight: normal; font-style: normal; }

.wrapTop { background: #e4ecf2 url(http://www.tiket.com/images/tiket2/bg_menu_headtop.jpg) repeat-x top; }
.topMenu { margin: 0 auto; max-width: 940px; padding: 0 20px; position: relative; text-shadow: 0 1px 0 white; }
.topMenu .left { float: left; width: 83.3333333333%; }
.topMenu .left li { float: left; margin-top: 3px; border-right: 1px solid #b4bfcc; -webkit-box-shadow: 1px 0 0 white; -moz-box-shadow: 1px 0 0 white; box-shadow: 1px 0 0 white; font-size: 12px; }
.topMenu .left a { color: #333333; padding: 11px 10px 12px; display: block; }
.topMenu .left a:hover { background: white; }
.topMenu .left .cs { background: url(http://www.tiket.com/images/tiket2/bg_cs_top.png) no-repeat left center; font-size: 14px; font-weight: bold; padding: 7px 10px 7px 30px; height: 100%; }
.topMenu .left .cs span { color: #d9750f; }
.topMenu .left .cs em { font-size: 12px; font-weight: normal; }

.wrapFoot { background: #1a304f; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2b4d7f), color-stop(100%, #1a304f)); background-image: -webkit-linear-gradient(#2b4d7f, #1a304f); background-image: -moz-linear-gradient(#2b4d7f, #1a304f); background-image: -o-linear-gradient(#2b4d7f, #1a304f); background-image: -ms-linear-gradient(#2b4d7f, #1a304f); background-image: linear-gradient(#2b4d7f, #1a304f); -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset; -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset; }
.wrapFoot .navHead { margin: 0 auto; max-width: 940px; padding: 0 20px; position: relative; }
.wrapFoot .navHead li { float: left; margin-top: 1px; }
.wrapFoot .navHead li a { display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; -webkit-box-shadow: -1px 0 0 #1b3252, -2px 0 0 #204680; -moz-box-shadow: -1px 0 0 #1b3252, -2px 0 0 #204680; box-shadow: -1px 0 0 #1b3252, -2px 0 0 #204680; color: white; padding: 8px 15px; font-weight: bold; font-size: 13px; }
.wrapFoot .navHead li a { *display: inline; }
.wrapFoot .navHead li a:hover { background: #1b3252; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4b6e9c), color-stop(100%, #1b3252)); background-image: -webkit-linear-gradient(#4b6e9c, #1b3252); background-image: -moz-linear-gradient(#4b6e9c, #1b3252); background-image: -o-linear-gradient(#4b6e9c, #1b3252); background-image: -ms-linear-gradient(#4b6e9c, #1b3252); background-image: linear-gradient(#4b6e9c, #1b3252); border-bottom: 3px solid #f3c049; padding-bottom: 5px; }
.wrapFoot .navHead li:last-child { -webkit-box-shadow: 1px 0 0 #204680, 2px 0 0 #1b3252; -moz-box-shadow: 1px 0 0 #204680, 2px 0 0 #1b3252; box-shadow: 1px 0 0 #204680, 2px 0 0 #1b3252; }

.rich { clear: both; background: white url(http://www.tiket.com/images/tiket2/bg_rich.gif) repeat-x top; border-bottom: 1px solid #a8b4c3; }
.wrapRich { margin: 0 auto; max-width: 940px; padding: 0 20px; position: relative; padding-top: 15px; }
.wrapRich .list { float: left; width: 14.11%; margin-right: 15px; }
.wrapRich .list h3 { color: #234481; font-size: 14px; margin-bottom: 15px; }
.wrapRich .list ul { margin: 0; padding: 0; list-style: none; }
.wrapRich .list ul li { font-size: 12px; margin-bottom: 10px; }
.wrapRich .list ul li a { color: #333333; }
.wrapRich .list ul li a:hover { color: #d9750f; }
.wrapRich .right { float: right; width: 36.81%; }
.wrapRich .right .cs { background: url(http://www.tiket.com/images/tiket2/icon_cs.jpg) no-repeat bottom right; margin-top: 88px; margin-left: 35px; padding-bottom: 50px; }
.wrapRich .right .cs .bubble { background: white; padding: 10px; width: 175px; position: relative; border: 1px solid #8292a9; -webkit-box-shadow: 0 0 0 4px #d7e5f0 inset; -moz-box-shadow: 0 0 0 4px #d7e5f0 inset; box-shadow: 0 0 0 4px #d7e5f0 inset; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }
.wrapRich .right .cs .bubble:after { content: url(http://www.tiket.com/images/tiket2/bg_bubble_cs.png); position: absolute; right: -13px; bottom: 25px; }
.wrapRich .right .cs .bubble h2 { margin: 0; font-size: 14px; }
.wrapRich .right .cs .bubble h1 { margin: 5px 0; font-family: VAGbold, sans-serif; font-size: 24px; font-weight: normal; color: #d9750f; }
.wrapRich .right .cs .bubble p { margin: 0; color: #234481; font-size: 12px; }

.payment { margin: 0 auto; max-width: 940px; padding: 0 20px; position: relative; padding-top: 20px; }
.payment .accept { float: left; width: 66.667%; }
.payment .accept h2 { font-size: 12px; color: #234481; }
.payment .accept ul { margin: 0; padding: 0; list-style: none; }
.payment .accept ul li { display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; }
.payment .accept ul li { *display: inline; }
.payment .accept p { font-size: 12px; }
.payment .accept p a { color: #333333; }
.payment .secured { float: right; width: 31.288%; text-align: right; }
.payment .secured p { font-size: 12px; }

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
#header {